.cartItems {
  margin: 100px 170px;
}
.cartItems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartItems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartItems-format {
  /* justify-content: center; */
  font-size: 17px;
  font-weight: 500;
}

.cartIcon-product-icon {
  height: 62px;
}
.cartItems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartItems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.cartItems-down {
  display: flex;
  margin: 100px 0px;
}
.cartItems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.cartItems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartItems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cartItems-promoCode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cartItems-promoCode p {
  color: #454545;
}

.cartItems-promoBox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}

.cartItems-promoBox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}

.cartItems-promoBox button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background: rgba(135, 130, 130, 0.815);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cartItems {
    margin: 50px 20px;
  }

  .cartItems-format-main {
    display: none;
  }

  .cartItems-format {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: center;
    padding: 10px 0;
  }

  .cartItems-format .X-image {
    height: 15px;
    width: auto;
  }

  .cartItems-format img {
    height: 50px;
  }

  .cartItems-quantity {
    width: 50px;
    height: 40px;
  }

  .cartItems-remove-icon {
    width: 12px;
  }

  .cartItems-down {
    flex-direction: column;
    margin: 50px 0px;
  }

  .cartItems-total {
    width: 100%;
  }

  .cartItems-total-item {
    font-size: 14px;
    padding: 10px 0px;
  }

  .cartItems-total button {
    width: 80%;
    height: 50px;
    font-size: 14px;
  }

  .cartItems-promoCode {
    order: 2;
    width: 100%;
    margin-top: 30px;
  }

  .cartItems-promoBox {
    width: 70%;
    height: 50px;
  }

  .cartItems-promoBox input {
    font-size: 14px;
    height: 40px;
  }

  .cartItems-promoBox button {
    margin-top: 30px;
    width: 30%;
    height: 20px;
    font-size: 10px;
    margin-left: -20px; 
  }
}
