.shopCategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopCategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shopCategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid#888;
}

.shopCategory-indexSort p span {
  font-weight: 600;
}

.shopCategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shopCategory-loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #2e2e2e;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 470px) {
  .shopCategory-banner {
    width: 95%;
    margin: 20px auto;
  }

  .shopCategory-indexSort {
    margin: 0px 10px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .shopCategory-sort {
    width: 100%;
    text-align: center;
    padding: 8px 15px;
    font-size: 14px;
  }


  .shopCategory-products {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    justify-content: center; 
  }

  
  .shopCategory-products img {
    width: 120px; 
    height: 120px;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    margin: auto; 
  }

  .shopCategory-loadMore {
    width: 160px;
    height: 45px;
    font-size: 15px;
    margin: 60px auto;
  }
  .item {
    width: 65px;
    font-size: 8px;
  }
  .item-price-new{
    font-size: 10px;
  }
  .item-price-old{
    font-size: 10px;
  }
}




