.RelatedProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.RelatedProduct h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.RelatedProduct hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.RelatedProduct-item {
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }
  @media (max-width: 470px) {
    .RelatedProduct {
      height: auto;
      gap: 20px;
      /* padding: 20px; */
    }
  
    .RelatedProduct h1 {
      font-size: 30px;
      text-align: center;
    }
  
    .RelatedProduct hr {
      width: 150px;
      height: 4px;
    }
  
    .RelatedProduct-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      margin-top: 30px;
      padding-bottom: 10px;
    }
  
    .RelatedProduct-item img {
      height: 100px;
      width: auto;
    }
  }
  